@import "tailwindcss";

body {
  font-family: "Almarai", sans-serif;
  overflow-x: hidden;
}
.active {
  background-color: #eff4f8; 
}
/* Scrollbar container */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Thumb */
  ::-webkit-scrollbar-thumb {
    background: #6CA6CD;
    border-radius: 10px;
  }
  
  /* Hover effect on thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }


